@{
    ViewData["Title"] = "Empresas";
}
@using System.Collections.Generic;
@using Domain;
@model IList<Company>;

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Empresas</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Company company in Model)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td>@company.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
