@{
    ViewData["Title"] = "Empresas";
}
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Identity;
@model IdentityUser;

<div class="row">
    <div class="col-md-12">
        <h2>Formulário</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/Admin/User" class="btn btn-info">Voltar</a>
    </div>
</div>

